body{
	background:black;
	color:whitesmoke;
	font-family:montserrat, sans-serif;
    margin:0px;

    a{
	color:white;
    text-decoration:none;
    font-size:14px;
    }
}


#topnav{
    position: fixed;
	width:100%;
	top:0;
	left:0;
	z-index:1;
	display:flex;
	justify-content:center;
    background-color: #000;
    
    .navlink{
        padding:10px 5px;
        margin:5px;
    }

    .navlink:hover,.navlink:focus{
        transform:scale(1.05);
        color:rebeccapurple;
    }

    .navlink:last-child{
        display:none;
    }


    
    @media only screen and (max-width:768px){
        .navlink:not(:last-child){
            display:none;
            
        }
        .navlink:last-child{
            display:flex;
            flex-direction:column;
            text-align:center;
            position:fixed;
            top:20px;
            right:20px;
            width:50px;
            height:50px;  
            font-size:12px;
            padding:0;
            
            .circle{
                position:relative;
                width:10px;
                height:10px;
                background:white;
                border:solid 1px white;
                border-radius:100%;
                transform:scale(2.5);
                display:none;
                margin:auto;
            }

            .empty{
                display:block;
                background: transparent;
            }

            span.text{
                display:block;
                width:100%;
            }
        }

        .navlink:last-child:hover,
        .navlink:last-child:focus{
            color:white;
            transform:none;

            .circle{
                display:block;
            }

            .empty{
                display:none;
            }
            span.text{
                
                text-indent:-99999px;
            }
            
        }

        

    }

}  

 @media only screen and (max-width:768px){
    #topnav.toggle{
        height:100%;
        display:flex;
        flex-direction:column;
        justify-content: flex-start;
        align-items:center;

        .navlink:not(:last-child){
            display:block;
        }
        
        .navlink:first-child{
            margin-top:20%;
        }

        .navlink:last-child{
            .empty::after{
                content:"";
                position:absolute;
                bottom:-4px;
                right:-16px;
                width:100vw;
                height:1px;
                background:white;
            }
            span.text{
                text-indent:-99999px;
            }
        }
    }
        
}




#main{
    width:100%;

    section{
            width:80%;
            display:flex;
            flex-direction:column;
            justify-content:flex-start;
            position: relative;
            margin:auto auto 10%;
    }
        
    #intro-section{
            justify-content:center;
            height:100vh;
            width:80%;
            
            h2{
                margin-bottom:0px;
                font-size:12px;
                font-weight:normal;
            }
            
            h1{
                font-size:4rem;
                margin-top:0px;
                margin-bottom:0px;
                margin-left:-2px;
            }

            span{
                font-style:italic;
                font-size:10px;
                position:relative;                
            }

            span::after{
                    content:"";
                    position:absolute;
                    height:1px;
                    width:20vw;
                    background:white;
                    bottom:3px;
            }

            #btns{
                position: relative;
                z-index:0;
                left:0px;
                padding:0px;
                margin-top:30px;

                a{
                    text-decoration: none;

                    button.btn.btn-link{
                        font:normal 500 17px/24px Helvetica, san-serif;
                        
                        text-decoration: none;
                        padding:8px 20px;
                        position:relative;
                        border:2px solid white;
                        border-radius:4px;
                        transition:background .6s ease;
                        /*filter: drop-shadow(1px 1px 0px rgb(0 0 0 / 13%));
                        */                    
                    }
                    
                    .primary-button{
                        color:black;
                        margin-right:15px;
                        background:white;
                    }

                    .primary-button:hover,.primary-button:focus{
                        background:transparent;
                        color:white;
                        }

                    .primary-button:hover,.primary-button:focus,
                    .secondary-button:hover,.secondary-button:focus{
                        box-shadow:0px 0px 5px rgba(57,56,61,0.205); 
                        background-clip:padding-box;
                        cursor:pointer;
                    }

                    .secondary-button{
                        color:whitesmoke;
                        background:transparent;
                        margin-left:-15px;
                    } 
                    .secondary-button:hover,.secondary-button:focus{
                            background:white;
                            color:black;
                        }
                }
            }
    }

    #intro-section::before,#intro-section::after{
        content:"";
        position:absolute;
        background:white;
    }

    #intro-section::before{
        width:50%;
        height:2px;
        top:95%;
        left:60%;
    }

    #intro-section::after{
        width:2px;
        height:30%;
        top:70%;
        left:100%;
    }


/* Projects section */
    #projects-container{
        position: relative;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        .project-card{
            width:320px;
            height:370px;
            position:relative;
            z-index:0;
            text-align:center;
            margin:70px 8px;
            background: black;
           /* border-left:solid 1px white;
            border-right:solid 1px white;*/

            a.view-project{
                position:absolute;
                left:0;
                top:-15px;
                z-index: 1;
                color:white;
                width:100%;
                padding:15px 0px;
                text-indent:70%;
                text-decoration:none;
                font-size:16px;
                font-weight:bold;
                background: rgba(255, 255, 255, 0.041);
                border:solid 1px white;
                border-bottom: none;
            }

            .project-img-container{
                width:100%;
                height: 370px;
                object-fit:cover;
                overflow:hidden;
                position: absolute;
                top:35px;
                left:0;
                border-right:solid 1px white;
                border-left: solid 1px white;
                
                img{
                    width:100%;
                }

                img:hover{
                    transform:scale(1.15);
                    transition:transform 0.6s ease;
                }
            }

            .project-details{
                position:absolute;
                top:100%;
                left:0;
                width:100%;
                background: black;
                border:solid 1px white;
                border-top: none;

                h3{
                    font-size:14px;
                    text-transform:uppercase;
                    padding:20px 0px;
                    margin:0px auto;
                    position: relative;
                    background: rgba(255, 255, 255, 0.041);
                }
                
                span{
                    position: absolute;
                    bottom:2px;
                    right:2px;
                    font-size:8px;
                    font-style: italic;
                }
                
            }


        }
        
        @media screen and (max-width:800px){
            .project-card{
            width:100%;
            text-align:center;
            margin:70px auto;
             }
        }

        .project-card:hover::before{
            content:"";
            position: absolute;
            top:-20px;
            left:-2%;
            width:20px;
            height: 20px;
            border-top:solid 1px white;
            border-left:solid 1px white;
        }
        
        .project-card:hover::after{
            content:"";
            position: absolute;
            bottom:-17%;
            right:-7px;
            width:20px;
            height: 20px;
            border-bottom:solid 1px white;
            border-right:solid 1px white;
        }

        

    }
   
    @media only screen and (max-width:800px){
        #projects-container{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width:100%;
        }
    
    }
 
}