body {
  background: black;
  color: whitesmoke;
  font-family: montserrat, sans-serif;
  margin: 0px;
}

body a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

#topnav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000;
}

#topnav .navlink {
  padding: 10px 5px;
  margin: 5px;
}

#topnav .navlink:hover, #topnav .navlink:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: rebeccapurple;
}

#topnav .navlink:last-child {
  display: none;
}

@media only screen and (max-width: 768px) {
  #topnav .navlink:not(:last-child) {
    display: none;
  }
  #topnav .navlink:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 12px;
    padding: 0;
  }
  #topnav .navlink:last-child .circle {
    position: relative;
    width: 10px;
    height: 10px;
    background: white;
    border: solid 1px white;
    border-radius: 100%;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
    display: none;
    margin: auto;
  }
  #topnav .navlink:last-child .empty {
    display: block;
    background: transparent;
  }
  #topnav .navlink:last-child span.text {
    display: block;
    width: 100%;
  }
  #topnav .navlink:last-child:hover,
  #topnav .navlink:last-child:focus {
    color: white;
    -webkit-transform: none;
            transform: none;
  }
  #topnav .navlink:last-child:hover .circle,
  #topnav .navlink:last-child:focus .circle {
    display: block;
  }
  #topnav .navlink:last-child:hover .empty,
  #topnav .navlink:last-child:focus .empty {
    display: none;
  }
  #topnav .navlink:last-child:hover span.text,
  #topnav .navlink:last-child:focus span.text {
    text-indent: -99999px;
  }
}

@media only screen and (max-width: 768px) {
  #topnav.toggle {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #topnav.toggle .navlink:not(:last-child) {
    display: block;
  }
  #topnav.toggle .navlink:first-child {
    margin-top: 20%;
  }
  #topnav.toggle .navlink:last-child .empty::after {
    content: "";
    position: absolute;
    bottom: -4px;
    right: -16px;
    width: 100vw;
    height: 1px;
    background: white;
  }
  #topnav.toggle .navlink:last-child span.text {
    text-indent: -99999px;
  }
}

#main {
  width: 100%;
  /* Projects section */
}

#main section {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  margin: auto auto 10%;
}

#main #intro-section {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 80%;
}

#main #intro-section h2 {
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: normal;
}

#main #intro-section h1 {
  font-size: 4rem;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -2px;
}

#main #intro-section span {
  font-style: italic;
  font-size: 10px;
  position: relative;
}

#main #intro-section span::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 20vw;
  background: white;
  bottom: 3px;
}

#main #intro-section #btns {
  position: relative;
  z-index: 0;
  left: 0px;
  padding: 0px;
  margin-top: 30px;
}

#main #intro-section #btns a {
  text-decoration: none;
}

#main #intro-section #btns a button.btn.btn-link {
  font: normal 500 17px/24px Helvetica, san-serif;
  text-decoration: none;
  padding: 8px 20px;
  position: relative;
  border: 2px solid white;
  border-radius: 4px;
  -webkit-transition: background .6s ease;
  transition: background .6s ease;
  /*filter: drop-shadow(1px 1px 0px rgb(0 0 0 / 13%));
                        */
}

#main #intro-section #btns a .primary-button {
  color: black;
  margin-right: 15px;
  background: white;
}

#main #intro-section #btns a .primary-button:hover, #main #intro-section #btns a .primary-button:focus {
  background: transparent;
  color: white;
}

#main #intro-section #btns a .primary-button:hover, #main #intro-section #btns a .primary-button:focus,
#main #intro-section #btns a .secondary-button:hover, #main #intro-section #btns a .secondary-button:focus {
  -webkit-box-shadow: 0px 0px 5px rgba(57, 56, 61, 0.205);
          box-shadow: 0px 0px 5px rgba(57, 56, 61, 0.205);
  background-clip: padding-box;
  cursor: pointer;
}

#main #intro-section #btns a .secondary-button {
  color: whitesmoke;
  background: transparent;
  margin-left: -15px;
}

#main #intro-section #btns a .secondary-button:hover, #main #intro-section #btns a .secondary-button:focus {
  background: white;
  color: black;
}

#main #intro-section::before, #main #intro-section::after {
  content: "";
  position: absolute;
  background: white;
}

#main #intro-section::before {
  width: 50%;
  height: 2px;
  top: 95%;
  left: 60%;
}

#main #intro-section::after {
  width: 2px;
  height: 30%;
  top: 70%;
  left: 100%;
}

#main #projects-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main #projects-container .project-card {
  width: 320px;
  max-width:320px;
  height: 370px;
  position: relative;
  z-index: 0;
  text-align: center;
  margin: 70px 8px;
  background: black;
  /* border-left:solid 1px white;
            border-right:solid 1px white;*/
}

#main #projects-container .project-card a.view-project {
  position: absolute;
  left: 0;
  top: -15px;
  z-index: 1;
  color: white;
  width: 100%;
  padding: 15px 0px;
  text-indent: 70%;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.041);
  border: solid 1px white;
  border-bottom: none;
}

#main #projects-container .project-card .project-img-container {
  width: 100%;
  max-width:320px;
  height: 370px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: 35px;
  left: 0;
  border-right: solid 1px white;
  border-left: solid 1px white;
}

#main #projects-container .project-card .project-img-container img {
  width: 100%;
}

#main #projects-container .project-card .project-img-container img:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

#main #projects-container .project-card .project-details {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: black;
  border: solid 1px white;
  border-top: none;
}

#main #projects-container .project-card .project-details h3 {
  font-size: 14px;
  text-transform: uppercase;
  padding: 20px 0px;
  margin: 0px auto;
  position: relative;
  background: rgba(255, 255, 255, 0.041);
}

#main #projects-container .project-card .project-details span {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 8px;
  font-style: italic;
}

@media screen and (max-width: 800px) {
  #main #projects-container .project-card {
    width: 100%;
    text-align: center;
    margin: 70px auto;
  }
}

#main #projects-container .project-card:hover::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -2%;
  width: 20px;
  height: 20px;
  border-top: solid 1px white;
  border-left: solid 1px white;
}

#main #projects-container .project-card:hover::after {
  content: "";
  position: absolute;
  bottom: -17%;
  right: -7px;
  width: 20px;
  height: 20px;
  border-bottom: solid 1px white;
  border-right: solid 1px white;
}

@media only screen and (max-width: 800px) {
  #main #projects-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */